<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EmployeeManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginSvl</display-name>
    <servlet-name>LoginSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.LoginSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSvl</servlet-name>
    <url-pattern>/LoginSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllDeptSvl</display-name>
    <servlet-name>FindAllDeptSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindAllDeptSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllDeptSvl</servlet-name>
    <url-pattern>/FindAllDeptSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllJobtSvl</display-name>
    <servlet-name>FindAllJobtSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindAllJobtSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllJobtSvl</servlet-name>
    <url-pattern>/FindAllJobtSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDepSvl</display-name>
    <servlet-name>DelDepSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.DelDepSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDepSvl</servlet-name>
    <url-pattern>/DelDepSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckDepNameSvl</display-name>
    <servlet-name>CheckDepNameSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.CheckDepNameSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDepNameSvl</servlet-name>
    <url-pattern>/CheckDepNameSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepSvl</display-name>
    <servlet-name>AddDepSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.AddDepSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepSvl</servlet-name>
    <url-pattern>/AddDepSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDepSvl</display-name>
    <servlet-name>UpdateDepSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.UpdateDepSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDepSvl</servlet-name>
    <url-pattern>/UpdateDepSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelJobSvl</display-name>
    <servlet-name>DelJobSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.DelJobSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelJobSvl</servlet-name>
    <url-pattern>/DelJobSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckJobNameSvl</display-name>
    <servlet-name>CheckJobNameSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.CheckJobNameSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckJobNameSvl</servlet-name>
    <url-pattern>/CheckJobNameSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJobSvl</display-name>
    <servlet-name>AddJobSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.AddJobSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobSvl</servlet-name>
    <url-pattern>/AddJobSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateJobSvl</display-name>
    <servlet-name>UpdateJobSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.UpdateJobSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateJobSvl</servlet-name>
    <url-pattern>/UpdateJobSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllEmpSvl</display-name>
    <servlet-name>FindAllEmpSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindAllEmpSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllEmpSvl</servlet-name>
    <url-pattern>/FindAllEmpSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEmpSvl</display-name>
    <servlet-name>SearchEmpSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.SearchEmpSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEmpSvl</servlet-name>
    <url-pattern>/SearchEmpSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelEmpSvl</display-name>
    <servlet-name>DelEmpSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.DelEmpSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelEmpSvl</servlet-name>
    <url-pattern>/DelEmpSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindEmpDetailSvl</display-name>
    <servlet-name>FindEmpDetailSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindEmpDetailSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindEmpDetailSvl</servlet-name>
    <url-pattern>/FindEmpDetailSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmpSvl</display-name>
    <servlet-name>UpdateEmpSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.UpdateEmpSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmpSvl</servlet-name>
    <url-pattern>/UpdateEmpSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllNoticeSvl</display-name>
    <servlet-name>FindAllNoticeSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindAllNoticeSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllNoticeSvl</servlet-name>
    <url-pattern>/FindAllNoticeSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateNoticeSvl</display-name>
    <servlet-name>UpdateNoticeSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.UpdateNoticeSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateNoticeSvl</servlet-name>
    <url-pattern>/UpdateNoticeSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelNoticeSvl</display-name>
    <servlet-name>DelNoticeSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.DelNoticeSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelNoticeSvl</servlet-name>
    <url-pattern>/DelNoticeSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDocSql</display-name>
    <servlet-name>AddDocSql</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.AddDocSql</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDocSql</servlet-name>
    <url-pattern>/AddDocSql</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmpSvl</display-name>
    <servlet-name>AddEmpSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.AddEmpSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmpSvl</servlet-name>
    <url-pattern>/AddEmpSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAddEmpSvl</display-name>
    <servlet-name>ShowAddEmpSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.ShowAddEmpSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAddEmpSvl</servlet-name>
    <url-pattern>/ShowAddEmpSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindExactNoticeSvl</display-name>
    <servlet-name>FindExactNoticeSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindExactNoticeSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindExactNoticeSvl</servlet-name>
    <url-pattern>/FindExactNoticeSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllDocsvl</display-name>
    <servlet-name>FindAllDocsvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindAllDocsvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllDocsvl</servlet-name>
    <url-pattern>/FindAllDocsvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchNoticeSvl</display-name>
    <servlet-name>SearchNoticeSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.SearchNoticeSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchNoticeSvl</servlet-name>
    <url-pattern>/SearchNoticeSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Down</display-name>
    <servlet-name>Down</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.Down</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>DownDocSvl</display-name>
    <servlet-name>DownDocSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.DownDocSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownDocSvl</servlet-name>
    <url-pattern>/DownDocSvl</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.ics.employeemanager.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutSvl</display-name>
    <servlet-name>LoginOutSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.LoginOutSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutSvl</servlet-name>
    <url-pattern>/LoginOutSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editPasswordSvl</display-name>
    <servlet-name>editPasswordSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.editPasswordSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editPasswordSvl</servlet-name>
    <url-pattern>/editPasswordSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaceRegisterSvl</display-name>
    <servlet-name>FaceRegisterSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FaceRegisterSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaceRegisterSvl</servlet-name>
    <url-pattern>/FaceRegisterSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FaceLoginSvl</display-name>
    <servlet-name>FaceLoginSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FaceLoginSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FaceLoginSvl</servlet-name>
    <url-pattern>/FaceLoginSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindExactDeptSvl</display-name>
    <servlet-name>FindExactDeptSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindExactDeptSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindExactDeptSvl</servlet-name>
    <url-pattern>/FindExactDeptSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNoticeSvl</display-name>
    <servlet-name>AddNoticeSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.AddNoticeSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNoticeSvl</servlet-name>
    <url-pattern>/AddNoticeSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelDocSvl</display-name>
    <servlet-name>DelDocSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.DelDocSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelDocSvl</servlet-name>
    <url-pattern>/DelDocSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StepToUpdateNoticeSvl</display-name>
    <servlet-name>StepToUpdateNoticeSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.StepToUpdateNoticeSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StepToUpdateNoticeSvl</servlet-name>
    <url-pattern>/StepToUpdateNoticeSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllDReportSvl</display-name>
    <servlet-name>FindAllDReportSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindAllDReportSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllDReportSvl</servlet-name>
    <url-pattern>/FindAllDReportSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindExactReportSvl</display-name>
    <servlet-name>FindExactReportSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindExactReportSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindExactReportSvl</servlet-name>
    <url-pattern>/FindExactReportSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllMReportSvl</display-name>
    <servlet-name>FindAllMReportSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindAllMReportSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllMReportSvl</servlet-name>
    <url-pattern>/FindAllMReportSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllAbsentSvl</display-name>
    <servlet-name>FindAllAbsentSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindAllAbsentSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllAbsentSvl</servlet-name>
    <url-pattern>/FindAllAbsentSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindExactApplySvl</display-name>
    <servlet-name>FindExactApplySvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindExactApplySvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindExactApplySvl</servlet-name>
    <url-pattern>/FindExactApplySvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveSvl</display-name>
    <servlet-name>ApproveSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.ApproveSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveSvl</servlet-name>
    <url-pattern>/ApproveSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefuseReasonSvl</display-name>
    <servlet-name>RefuseReasonSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.RefuseReasonSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefuseReasonSvl</servlet-name>
    <url-pattern>/RefuseReasonSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisapproveSvl</display-name>
    <servlet-name>DisapproveSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.DisapproveSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisapproveSvl</servlet-name>
    <url-pattern>/DisapproveSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllEmpstaffSvl</display-name>
    <servlet-name>FindAllEmpstaffSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindAllEmpstaffSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllEmpstaffSvl</servlet-name>
    <url-pattern>/FindAllEmpstaffSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddReportSvl</display-name>
    <servlet-name>AddReportSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.AddReportSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReportSvl</servlet-name>
    <url-pattern>/AddReportSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllReportmeSvl</display-name>
    <servlet-name>FindAllReportmeSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindAllReportmeSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllReportmeSvl</servlet-name>
    <url-pattern>/FindAllReportmeSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllLeavemeSvl</display-name>
    <servlet-name>FindAllLeavemeSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindAllLeavemeSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllLeavemeSvl</servlet-name>
    <url-pattern>/FindAllLeavemeSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddApplySvl</display-name>
    <servlet-name>AddApplySvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.AddApplySvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddApplySvl</servlet-name>
    <url-pattern>/AddApplySvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindEmpDetailmeSvl</display-name>
    <servlet-name>FindEmpDetailmeSvl</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.FindEmpDetailmeSvl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindEmpDetailmeSvl</servlet-name>
    <url-pattern>/FindEmpDetailmeSvl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmpSvl1</display-name>
    <servlet-name>UpdateEmpSvl1</servlet-name>
    <servlet-class>com.ics.employeemanager.controller.UpdateEmpSvl1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmpSvl1</servlet-name>
    <url-pattern>/UpdateEmpSvl1</url-pattern>
  </servlet-mapping>
</web-app>